
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  border-radius: 8px;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #12323eac;
}

/* Style the accordion panel. Note: hidden by default */
.panel2 {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
} 
